.main {
  @apply flex justify-center bg-no-repeat bg-center bg-cover;
  background-image: url(../assets/panbg.jpg);
}

.contenedor {
  @apply flex items-center h-screen justify-center;
}

.form-container {
  @apply flex w-[900px] h-[500px] bg-white border-none rounded-lg shadow-lg overflow-hidden;
}

.form-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.form-signin h1 {
  font-size: 36px;
  color: #e08f48;
  font-weight: bold;
  text-transform: uppercase;
}
.form-signin input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #e08f48;
  border-radius: 5px;
  outline: none;
  color: #432c1f;
  font-size: 18px;
}

.mensajeBienvenida {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  width: 900px;
  background-color: #e08f48;
  color: #432c1f;
  text-align: center;
}
.mensajeBienvenida h2 {
  text-align: left;
  font-size: 28px;
}

.mensajeBienvenida h2 span {
  background-color: saddlebrown;
  color: white;
  padding: 5px;
  font-weight: 700;
}

/* En tu archivo CSS personalizado */
@keyframes cambioModo {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

.cambia-modo:hover {
  animation: cambioModo 0.3s ease infinite;
}
